h1{
    color: firebrick;
    font-size: xx-large;
    text-shadow: 8px 8px 8px gray;
}

button{
    background-color: #8b002a;
    color: crimson;
    width: 150px;
    padding: 20px;
    margin-left: 30px;
    border-radius: 10px;
}
h2{
    color: #005eff;
}

img{
    width: 300px;
    height: 150px;
}
