/*---General Page Styling----*/
body{
    background-image: url(../assets/economy+.png);
    background-size: auto;

}

form{
    background-color: rgb(66, 66, 245);
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px;

}

legend{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

input[type=text], input[type=email], input[type=password], input[type=date],
input[type=datetime-local],input[type=tel],select{

width: 100;
height: 40px;
border-radius: 10px;
border: none;
margin-top: 10px;
padding-left: 10px;

}

/*=== Button Styling===*/
button{
    background-color: burlywood;
    color: rgb(4, 3, 4);
    padding: 15px  25px;
    border-radius: 12px;
    font-size: 16px;
    cursor:pointer ;
    margin: 20px;
    display: flex;
    align-items: center;
    margin: auto;
}
body{
    background-image: url("../assets/background\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
